$pink: #fd6e72;
$purple: #745260;
$teal: #abe7db;
$grey: #74919f;
$cream: #fdf9de;
$black: #333333;

$duration: 12s;
$total-kf: 15;
$tail-wags: 14;

$k-tail: (
  1: rotate(0),
  1.5: rotate(10deg),
  // 2: rotate(0),
  2.5: rotate(-5deg),
  3: rotate(30deg),
  4: rotate(-2deg),
  7: rotate(10deg),
  8: rotate(-5deg),
  8.5: rotate(10deg),
);

$k-left-whisker: (
  1: rotate(0),
  1.5: rotate(0deg),
  // 2: rotate(0),
  2.5: rotate(-5deg),
  3: rotate(0deg),
  4: rotate(0deg),
  7: rotate(10deg),
  8: rotate(-5deg),
  8.5: rotate(10deg),
);
$k-right-whisker: (
  1: rotate(180deg),
  1.5: rotate(190deg),
  // 2: rotate(0),
  2.5: rotate(180deg),
  3: rotate(175deg),
  4: rotate(190deg),
  7: rotate(180deg),
  8: rotate(185deg),
  8.5: rotate(175deg),
);

$k-body: (
  1: scaleY(1),
  1.5: scaleY(1.15),
  // 2: rotate(0),
  2.5: scaleY(1),
  3: scaleY(1.25),
  4: scaleY(1),
  7: scaleY(1.15),
  8: scaleY(1),
  8.5: scaleY(1.15),
);

$k-left-ear: (
  0: rotate(-20deg),
  1: rotate(-6deg),
  2: rotate(-15deg),
  4: rotate(-15deg),
  5: rotate(-30deg),
  6: rotate(-30deg),
  7: rotate(0deg),
  8: rotate(0deg),
  9: rotate(-15deg),
  12: rotate(-15deg),
  14: rotate(-6deg),
  $total-kf: rotateZ(-6deg)
);

$k-right-ear: (
  0: rotateZ(-16deg),
  1: rotateZ(-16deg),
  2: rotateZ(-19deg),
  4: rotateZ(-19deg),
  5: rotateZ(-30deg),
  
  5.5: rotateZ(-19deg),
  5.6: rotateZ(-30deg),
  5.7: rotateZ(-19deg),
  6: rotateZ(-19deg),
  6.1: rotateZ(-30deg),
  6.2: rotateZ(-19deg),

  7: rotateZ(-9deg),
  8: rotateZ(-9deg),
  
  9: rotateZ(-19deg),
  9.1: rotateZ(-30deg),
  9.2: rotateZ(-19deg),
  9.4: rotateZ(-19deg),
  9.5: rotateZ(-30deg),
  9.6: rotateZ(-19deg),
  
  12: rotateZ(-19deg),
  14: rotateZ(-16deg),
  $total-kf: rotateZ(-16deg)
);

$tail-interval: (11 - 7.5) / $tail-wags;

@mixin effect($name, $kf) {
  @keyframes #{$name} {
    @each $interval, $transform in $kf {
      #{percentage($interval/$total-kf)} {
        transform: $transform;
      }
    }
  }
}

@include effect('tail', $k-tail);
@include effect('body', $k-body);

@include effect('left-whisker', $k-left-whisker);
@include effect('right-whisker', $k-right-whisker);

@include effect('left-ear', $k-left-ear);
@include effect('right-ear', $k-right-ear);

#Heading{
    max-height: 850px;
}
#whatIDo{
    font-size: 80px;
    line-height: 1;
    font-family: 'Anton', sans-serif;
}
.whatIDo{
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
    margin-top: 15px;
    line-height: 1;
}
.headingCard{
    margin-top: 110px;
}
.headingCard h5{
    font-size: 45px;
}
.headingCard > p{
    font-size: 20px;
}
.shortIntro{
    margin-bottom: 30px;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.btns > div{
    font-size: 20px;
}
.btns > div a{
    width: max-content;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns > div a span{
    position: absolute;
    background-color: var(--light);
    display: block;
}
.btns > div a span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
}
.btns > div a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s;
}
.btns > div a span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
.btns > div a:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s;
}
.btns > div a span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.btns > div a:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.btns > div a span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.btns > div a:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s;
    transition-delay: 0.3s;
}
.btnAnm{
    height: 60px;
    width: 35px;
    border: 7px solid rgba($color: #1e1e1e, $alpha: 0.8);
    border-radius: 20px;
    margin-right: 15px;
}
.btnAnm > div{
    width: 19px;
    height: 19px;
    background-color: rgba($color: #1e1e1e, $alpha: 0.8);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    animation: btnAnm1 3s ease-in-out infinite;
}
@keyframes btnAnm1 {
    0%{
        top: -2px;
    }
    50%{
        top: 30px;
    }
    100%{
        top: -2px;
    }
}
.logo{
    display: flex;
    color: var(--light2);
}
.logo img{
    width: 62px;
    height: 62px;
    position: relative;
}
.left-22{
    left: 5.6rem;
}
.logo > div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 5px;
}
.shortIntro{
    margin-right: 20%;
}

@media screen and (max-width:890px){
    .headingCard > p{
        font-size: 18px;
    }
    .headingCard h5{
        font-size: 30px;
    }
    #whatIDo{
        font-size: 60px;
    }
}
@media screen and (max-width:630px){
    .btns > div {
        width: 130px;
        height: 45px;
        font-size: 16px;
    }
    .ityped-cursor{
        transform: translateY(-5px);
    }
}
@media screen and (max-width:520px) {
    #whatIDo{
        font-size: 30px;
    }
    .ityped-cursor {
        font-size: 30px;
    }
    .headingCard h5{
        font-size: 23px;
    }
    .headingCard > p{
        font-size: 16px;
    }
    .btns{
        margin-right: 15px;
    }
}
.ronaldo, .messi{
    border: 12px solid transparent;
    border-image-source: url('../../Images/frame.png');
    border-image-slice: 60;
    border-image-repeat: round;
    width: auto;
    background-color: black;
}
.ronaldo{
    height: 180px;
}
.messi{
    border-width: 10px;
    border-image-source: url('../../Images/noise.jpeg');
    height: 100px;
    bottom: 30px;
}
.footballSection{
    right: 150px;
    top: 70px;
}
.hangingFootball{
    width: 90px;
    transform: translateZ(1px);
    position: absolute;
    right: 110px;
    top: 150px;
    animation: hanging 1s ease-in-out infinite alternate;
    transform-origin: top center;
}
@keyframes hanging {
    from{
        transform: rotate(-15deg) translateZ(1px);
    }
    to{
        transform: rotate(15deg) translateZ(1px);
    }
}
.knowMeBtn{
    z-index: 40;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    right: 150px;
    bottom: 70px;
    font-size: 100px;
    border: 1px solid var(--dark);
    background-color: var(--light);
}
.knowMeBtn svg{
    width: 85px;
    transform: rotate(135deg);
    transform-origin: center center;
    pointer-events: none;
}
.knowMeBtn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.knowMeBtnText{
    width: 101%;
    height: 101%;
    z-index: 2;
    clip-path: circle(0px at center);
    transition: 0.4s;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: var(--light);
    transform-origin: center center;
    transition: 0.4s;
    overflow: hidden;
}
.knowMeBtn:hover .knowMeBtnText{
    clip-path: circle(90px at center);
}
.knowMeBtnText p{
    position: absolute;
    transition: 0.3s;
    transition-delay: 0.4s;
}
.knowMeBtn:hover .knowMeBtnText p{
    transform: rotate(-45deg);
}
.rect1{
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
.rect2{
    z-index: -1;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(0.4px);
}
.rect3{
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
}
.bsTop{
    background-image: url(../../Images/frame2.png);
    background-color: var(--dark);
}
.bsRight{
    background-image: url(../../Images/frame1.png);
    background-color: var(--dark);
}
.bsbg, .drwr{
    width: calc(100% - 8px);
}
.bookStack2 .drwr > div:first-child{
    border-right: 2px solid;
}
.book2 {
    background-color: #54290C;
    border-left: 2px solid #66320f;
    border-right: 2px solid #422009;
}
.book1 {
    background-color: #54290C;
    border-left: 2px solid #66320f;
    border-right: 2px solid #422009;
}
.book3 {
    background-color: #0C347D;
    border-left: 2px solid #0e3c90;
    border-right: 2px solid #0a2c6a;
}
.book4 {
    background-color: darkgreen;
    border-left: 2px solid #007800;
    border-right: 2px solid #005000;
}
.bookStack1{
    min-width: 333px;
}
.headerBook{
    width: 23px;
    height: 90px;
    // -webkit-font-smoothing:antialiased;
    box-shadow: 0 0 1px transparent;
}
.tilt-book{
    width: 35px;
}
.tilt-book .headerBook{
    height: 88px;
    transform: translateY(0px) translateX(5px) rotate(9deg) translateZ(1px);
}
.drwr{
    box-shadow: inset -10px 10px 10px -12px var(--brown1);
    > div{
        border-image-source: url(../../Images/frame.png);
        border-image-slice: 60;
        border-image-repeat: round;
        &:first-child{
            border-right: 3px solid transparent;
        }
        &:last-child{
            border-left: 3px solid transparent;
        }
    }
}
.cat{
    width: 110px;
    z-index: 1;
    height: 50px;
    position: absolute;
    right: 130px;
    border-top-left-radius: 50px * 2;
    border-top-right-radius: 50px * 2;
    top: -50px;
    right: 0;
    // animation: body $duration none infinite;
    .face{
        top: 50px;
        left: -10px;
    }
    .body{
        width: 110px;
        height: 50px;
        background-color: $purple;
        position: absolute;
        // top: calc(50% - 50px);
        // left: 130px;
        border-top-left-radius: 50px * 2;
        border-top-right-radius: 50px * 2;
        animation: body $duration none infinite;
    }
    .head{
        content: "";
        width: 70px;
        height: 35px;
        background-color: $purple;
        position: absolute;
        top: calc(50% - 10px);
        left: -40px;
        border-top-left-radius: 40px * 2;
        border-top-right-radius: 40px * 2;
    }
    .tail-container{
        position: absolute;
        right: 0;
        bottom: -13px;
        z-index: 3;
    }
    .tail {
        position: absolute;
        height: 30px;
        width: 14px;
        bottom: -10px;
        right: 0;
        border-bottom-right-radius: 5px;
        background: $purple;
        z-index: 0;
        > .tail {
            animation: tail $duration none infinite;
            height: 100%;
            width: 14px;
            // bottom: -26%;
            transform-origin: left;
            border-bottom-left-radius: 20px 20px;
            border-bottom-right-radius: 20px 20px;
            border-top-right-radius: 40px;
            // transform: rotate(30deg);
        }
    }
    .ear{
        position: absolute;
        left: 4px;
        top: -4px;
        width: 0; 
        height: 0; 
        border-left: 12px solid transparent;
        border-right:12px solid transparent;
        border-bottom:20px solid $purple;
        transform: rotate(-30deg);
        animation: left-ear $duration both infinite;
        + .ear {
            animation: right-ear $duration both infinite;
            top: -12px;
            left: 30px;
        }
    }
    .nose{
        position: absolute;
        bottom: 10px;
        left: -10px;
        background-color: $pink;
        height: 5px;
        width: 5px;
        border-radius: 50%;
    }
    .whisker-container {
        position: absolute;
        bottom: 5px;
        left: -36px;
        width: 20px;
        height: 10px;
        transform-origin: right;
        animation: left-whisker $duration both infinite;
        &:nth-child(2) {
            left: -20px;
            bottom:12px;
            transform-origin: right;
            transform: rotate(180deg);
            animation: right-whisker $duration both infinite;
        }
    }
    .whisker {
        position: absolute;
        top: 0;
        width: 100%;
        border: 1px solid $cream;
        transform-origin: 100% 0;
        transform: rotate(10deg);

        &:last-child {
            top: 0;
            transform: rotate(-20deg);
        }
    }
}

.trophyContainer{
    display: flex;
    transform: scale(0.2);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -180px;
    left: -40px;
    .main {
        height: 250px;
        width: 200px;
        background: gold;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
      }
      
      .stem2 {
        position: absolute;
        top: 190px;
          border-bottom: 100px solid gold;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          height: 0px;
          width: 40px;
        border-bottom-left-radius: 200px;
        border-bottom-right-radius: 200px;
        transform: rotate(180deg);
      }
      .stem1 {
        position: absolute;
        top: 280px;
          border-bottom: 100px solid gold;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          height: 0;
          width: 40px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
      }
      .base {
        position: absolute;
        width: 180px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
        background: black;
        height: 20px;
        top: 380px;
      }
      .arms {
        width: 300px;
        height: 150px;
        position: absolute;
        background: transparent;
        z-index: -1;
        border: #ddba00 20px solid;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
      
      }
      .stemCrease {
        position: absolute;
        width: 60px;
        height: 15px;
        border-radius: 10px;
        background: #ddba00;
        top: 280px;
        z-index: 1;
      }
      .star {
        position: absolute;
        font-size: 50px;
        color: var(--brown1);
        top: 50px;
        right: 30px;
        z-index: 2;
        transform-origin: center;
    }
}
.-top-125{
    top:-2.9rem;
}
.rolledMap{
    left: 33.33%;
    bottom: 0;
    width: 190px;
    height: 184px;
}
.rolledMap img{
    position: absolute;
    width: 170px;
    transform: rotate(-55deg);
    top: 0;
}
.rolledMap .mapImg1{
    right: 0;
}
.rolledMap .mapImg4{
    right: 20px;
    transform: rotate(-65deg);
}
.rolledMap .bucket{
    width: 100px;
    height: 90px;
    background-color: yellow;
    z-index: 2;
}
.circle1{
    width: 33.33%;
    height: calc((100vw - 60px) / 3);
    max-height: calc((1700px - 60px) / 3);
    border: 1px solid var(--line);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    bottom: 0;
    left: 33.33%;
}
.circle2{
    border: 1px solid var(--line);
}
@media screen and (max-width:1200px) {
    .footballSection, .rect1, .rect2, .knowMeBtn{
        display: none;
    }
}
@media screen and (max-width: 670px) {
    .bookStack1{
        display: none;
    }
    #whatIDo{
        line-height: 1.3;
    }
}
@media screen and (max-width:500px) {
    #Heading{
        display: flex;
        align-items: center;
    }
    .headingCard{
        margin-top: 0;
        height: max-content;
    }
}